body {
    font-family: Courier New, sans-serif;
}

a {
    color: #000;
    text-decoration: underline;
}

.container {
    text-align: center;
}

.logo {
    width: 200px;
}

.video-element {
    display: none;
}

.actions {
    margin-top: 3em;
    text-align: center;
}

.btn {
    width: 2em;
    height: 10em;
    border-style: solid;
    box-sizing: border-box;
    background: white;

    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    border-color: white white white #202020;
    border-width: 5em 0 5em 10em;
    rotate: 0deg;

    -webkit-tap-highlight-color: transparent;
}

.btn-pause {
    border-width: 5em 0 5em 10em;
    
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}