body {
    font-family: Courier New, sans-serif;
}

.container {
    text-align: center;
}

.logo {
    width: 200px;
}

.video-element {
    display: none;
}

.actions {
    margin-top: 3em;
}

.btn {
    width: 74px;
    height: 74px;
    border-style: solid;
    box-sizing: border-box;
    background: white;

    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;
    border-color: white white white #202020;
    border-width: 37px 0 37px 74px;
}

.btn-play {
    border-width: 37px 0 37px 74px;
}

.btn-pause {
    border-style: double;
    border-width: 0 0 0 37px;
}